.ct-cards {
    @include displayGrid;
    width: 100vw;
    height: 83vh;
    overflow: scroll;
    scrollbar-width: none;
}

.ct-cards::-webkit-scrollbar {
    display: none;
}

.ct-pedagogical::-webkit-scrollbar {
    display: none;
}

.txt-titleProject {
    color: $colorPrincipal;
    font-family: $fontPrincipal;
    font-size: 2.5rem;
    margin: 0px;
}