.ct-cards{
    @include displayFlex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100vw;
    height: 83vh;
    overflow: scroll;
    scrollbar-width: none
}

.ct-pedagogical::-webkit-scrollbar {
    display: none;
}

.txt-titleProject{
    color: $colorPrincipal;
    font-family: $fontPrincipal;
    font-size: 2.5rem;
    margin: 0px;
}


