body {
    @include displayFlex;
    width: 100vw;
    height: 100vh;
    background-color: $colorSecondary;
    overflow: hidden;
    font-size: 3rem;
    font-family: $fontPrincipal;
    color: transparent;
    @media (min-width: $breakpointSmall) {
        font-size: 10rem;
    }
}

.ct-home::-webkit-scrollbar {
    display: none;
}

.ct-home {
    @include displayFlex;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.ct-home::-webkit-scrollbar {
    display: none;
}

//smoke effect
span {
    display: inline-block;
    text-shadow: 0 0 0 #F1C232;
    animation: smoky 5s 3s both;
}

span:nth-child(even) {
    animation-name: smoky-mirror;
}

@keyframes smoky {
    60% {
        text-shadow: 0 0 40px #F1C232;
    }
    to {
        transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
        text-shadow: 0 0 20px #F1C232;
        opacity: 0;
    }
}

@keyframes smoky-mirror {
    60% {
        text-shadow: 0 0 40px #F1C232;
    }
    to {
        transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
        text-shadow: 0 0 20px #F1C232;
        opacity: 0;
    }
}

@for $item from 1 through 21 {
    span:nth-of-type(#{$item}) {
        animation-delay: #{(1 + calc($item/10))}s;
    }
}

//fade out
.txt-name {
    color: $colorPrincipal;
    font-family: $fontSecondary;
    font-size: 2rem;
    margin: 0px;
    animation: fadeOut 8s;
    -webkit-animation: fadeOut 8s;
    -moz-animation: fadeOut 8s;
    -o-animation: fadeOut 8s;
    -ms-animation: fadeOut 8s;
    @media (max-width: $breakpointSmall) {
        font-size: 1rem;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}