.ct-divUp{
    @include divUpDown;
    top: 0px;
}

.ct-divDown{
    @include divUpDown;
    bottom: 0px;
}

.img-div{
    width: 100px;
    height: 5px;
    background-color: $colorSecondary;
    margin: 2vh;
}

.img-divInvert{
    width: 100px;
    height: 5px;
    background-color: $colorPrincipal;
    margin: 2vh;
}