.ct-navbar {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5%;
    position: absolute;
    top: 0px;
}

.ct-navbuttons {
    @include displayFlex;
    justify-content: flex-start;
}

.bt-ico {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.img-ico {
    width: 80%;
    filter: none;
    @media (min-width: $breakpointLarge) {
        filter: invert(93%) sepia(96%) saturate(3902%) hue-rotate(326deg) brightness(96%) contrast(97%);
    }
}

.img-icoInvert {
    width: 80%;
    filter: $filterPrincipal;
}

.img-ico-tools {
    width: 80%;
    filter: none;
}