.ct-contentProjects{
    @include displayFlex;
    @include ctContent;
    flex-direction: column;
    @media (min-width: $breakpointLarge) {
        flex-direction: row;
    }
}

.bt-ctProjects{
    @include displayFlex;
    width: 200px;
    height: 200px;
    background-color: $colorSecondary;
    border: none;
    color: $colorPrincipal;
    font-family: $fontPrincipal;
    font-size: 2rem;
    margin: 2%; 
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(25, 25, 25, 0.3);
    @media (min-width: $breakpointSmall) {
        width: 343px;
        height: 343px;
        font-size: 3rem;
    }
}

.ct-projects{
    @include displayFlex;
    flex-direction: row;
    flex-wrap: wrap;
}

