.ct-project{
    @include displayFlex;
    width: 100vw;   
    height: 100vh;
    background-color: $colorSecondary;
    flex-direction: row;
}

.ct-projectImg{
    @include displayFlex;
    width: 60vw;
    height: 80vh;
    background-color: $colorPrincipal;
    margin: 2%;

}

.img-projectImg{
    width: 85%;
    object-fit: cover;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.56));
}

.ct-projectTxt{
    width: 35vw;
    padding: 3%;
    text-align: center;
}

.txt-projectTitle{
    font-size: 3rem;
    color: $colorPrincipal;
}

.txt-projectDesc{
    font-size: 1.5rem;
    color: $colorPrincipal;
    font-family: $fontSecondary;
}

.bt-projectClose{
    position: absolute;
    top:0px;
    right: 0px;
    margin: 1%;
}