.ct-green {
    @include displayFlex;
    width: 90vw;
    margin: 5% 0% 0% 0%;
    @media (min-width: $breakpointMedium) {
        justify-content: flex-end;
        margin: 5% 10% 0% 0%;
    }
}

.img-greenHost {
    width: 150px;
}