@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
$colorPrincipal: #F1C232;
$colorSecondary: #191919;
$filterPrincipal: invert(90%) sepia(80%) saturate(6969%) hue-rotate(330deg) brightness(99%) contrast(90%);
$fontPrincipal: 'Bebas Neue',
cursive;
$fontSecondary: 'Anaheim',
sans-serif;
$breakpointSmall: 576px;
$breakpointMedium: 768px;
$breakpointLarge: 992px;
$breakpointExtralarge: 1200px;
@mixin displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin divUpDown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin btStroke {
    width: 200px;
    height: 60px;
    font-size: 1.8rem;
    background-color: transparent;
    font-family: $fontPrincipal;
    color: $colorSecondary;
}

@mixin btFill {
    width: 200px;
    height: 60px;
    border: none;
    font-size: 1.8rem;
    background-color: $colorSecondary;
    font-family: $fontPrincipal;
    color: $colorPrincipal;
    cursor: pointer;
}

@mixin ctContent {
    height: 80vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    @media (min-width: $breakpointLarge) {
        height: 60vh;
        padding-top: 20vh;
        padding-bottom: 20vh;
    }
}