.ctProfessional{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ctCards {
    display: grid;
    grid-template-columns: 343px 343px 343px;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    margin: 80px 0;
}

.ctCards::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1080px) {
    .ctCards{
        grid-template-columns: 343px 343px;
    }
}

@media (max-width: 576px) {
    .ctCards{
        grid-template-columns: 343px;
    }
}