.ctProject{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh; 
    overflow: scroll;
}

.ctProjectImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100vh;
    background-color: var(--color-main);
    margin: 0%;
}

.imgProjectImg {
    width: 90%;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.56));
}

.ctProjectTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    padding: 2%;
    text-align: center;
}

.txtProjectTitle {
    font-size: var(--font-xsmall);
    color: var(--color-main);
}

.txtProjectDesc {
    font-size: var(--font-xxsmall);
    color: var(--color-main);
    font-family: var(--font-secondary);
}

.txtItalic{
    font-style: italic;
    margin-top: 10px;
    font-size: var(--font-xxxsmall);
}

.btProjectClose {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 1%;
    padding: 1%;
    z-index: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    filter: var(--filter-main);
}

.btProjectClose img{
    width: 20px;
}


@media (max-width: 992px) {
    .ctProject{
        flex-direction: column;
    }

    .ctProjectImg{
        width: 100%;
        height: auto; 
    }

    .imgProjectImg{
        width: 85%;
        height: 90%;
    }

    .ctProjectTxt{
        width: 90%;
    }

    .btProjectClose{
        filter: none;
    }
}

@media (max-width: 576px) {
    .ctProjectImg{
        height: 40%;
    }

    .ctProjectTxt{
        height: 60%;
    }

    .txtProjectTitle {
        font-size: 1.5rem;
    }
    
    .txtProjectDesc {
        font-size: var(--font-xxxsmall);
    }
}