.ctPedagogical{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ctCards {
    display: grid;
    grid-template-columns: 343px 343px 343px;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    margin: 80px 0;
}

.ctCards::-webkit-scrollbar {
    display: none;
}

.ctContent{
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@media (max-width: 1080px) {
    .ctCards{
        grid-template-columns: 343px 343px;
    }
}

@media (max-width: 720px) {
    .ctCards{
        grid-template-columns: 343px;
    }
}

/* Fade in effect */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  