.ctHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: transparent;
    text-align: center;
    overflow: hidden;
}

.ctHome::-webkit-scrollbar {
    display: none;
}

.txtName{
    color: var(--color-main);
    font-family: var(--font-secondary);
    font-size: var(--font-xsmall);
    animation: fadeOut 9s;
    -webkit-animation: fadeOut 9s;
    -moz-animation: fadeOut 9s;
    -o-animation: fadeOut 9s;
    -ms-animation: fadeOut 9s;
}

/* Fade out effect */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Media Queries */
@media (max-width: 576px) {
    .txtName{
        font-size: var(--font-xxsmall);
    }
}