.ctHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 10px;
}

.ctStates{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--font-xxxsmall);
}

.ctLinks{
    display: flex;
}

.btRefresh{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

.btRefresh:hover .btLabel{
    visibility: visible;
}

.btLabel{
    visibility: hidden;
    margin: 0px;
    font-family: var(--font-secondary);
    font-size: var(--font-xxxsmall);
    color: var(--color-secondary);
}


@media (max-width: 576px) {
    .ctHeader{
        justify-content: center;
        margin-top: 8%;
    }
}

@media (max-width: 992px) and (orientation: landscape) {
    .ctHeader{
        background-color: var(--color-main);
        position: fixed;
    }
}