.ctNav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    padding: 10px;
    position: fixed;
    z-index: 1;
}

.dark{
    background-color: var(--color-secondary);
}