.ctNav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    padding: 10px;
    background-color: var(--color-main);
    position: fixed;
    z-index: 1;
}

.dark{
    background-color: var(--color-secondary);
}

.ctLangToggle{
    position: absolute;
    right: 10px;
    top: 10px;
}

@media (max-width: 576px) {
    .ctNav{
        justify-content: center;
        padding-top: 50px;
    }
}