.ctProjects{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-main);
    width: 100vw;
    height: 100vh;
}

.ctNavbar{
    width: 95%;
    display: flex;
    justify-content: flex-start;
}