.ctProjects{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color-main);
    width: 100vw;
    height: 100vh;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

.ctProjectType{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btProjects, .btProjects:visited, .btProjects:active{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 343px;
    background-color: var(--color-secondary);
    border: none;
    color: var(--color-main) !important;
    font-family: var(--font-main);
    font-size: var(--font-small);
    margin: 2%;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(25, 25, 25, 0.3);
    text-align: center;
}


/* Media Queries */
@media (max-width: 576px) {
    .ctProjectType{
        flex-direction: column;
        margin-top: 50px;
    }
    .btProjects, .btProjects:visited, .btProjects:active{
        width: 220px;
        height: 220px;
        font-size: var(--font-xsmall);
    }
}

@media (max-height: 576px) {
    .btProjects, .btProjects:visited, .btProjects:active{
        width: 260px;
        height: 260px;
        font-size: var(--font-xsmall);
    }
}

@media (max-width: 992px) and (orientation: landscape) {
    .ctProjectType{
        margin-top: 20px;
    }
}

/* Fade in effect */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}