@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');

:root{
  /* Font family */
  --font-main: 'Bebas Neue', cursive;
  --font-secondary: 'Anaheim', sans-serif;
  /* Font size */
  --font-xxxsmall: 0.8rem;
  --font-xxsmall: 1.2rem;
  --font-xsmall: 2rem;
  --font-small: 3rem;
  --font-medium: 5rem;
  --font-large: 8rem;
  /* Colors */
  --color-main: #F1C232;
  --color-secondary: #191919;
  /* Filters */
  --filter-main: invert(90%) sepia(80%) saturate(6969%) hue-rotate(330deg) brightness(99%) contrast(90%);
}


  /* Breakpoints
  --breakpoint-Small: 576px;
  --breakpoint-Medium: 768px;
  --breakpoint-Large: 992px;
  --breakpoint-Extralarge: 1200px; 
  */
 

#root {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font-main);
  color: var(--color-secondary);
  margin: 0;
  padding: 0;
  background-color: var(--color-secondary);
}

a, a:visited, a:active{
  color: var(--color-secondary);
  text-decoration: none;
  width: 50px;
}