.ctAboutme{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-main);
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

.ctContentAbout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.txtTitle{
    font-size: var(--font-medium);
    margin: 2%;
}

.txtParagraph{
    font-family: var(--font-secondary);
    font-size: var(--font-xxsmall);
    text-align: center;
    margin-top: 2vh;
}

.txtMain{
    font-family: var(--font-secondary);
    font-size: var(--font-xxxsmall);
    font-weight: lighter;
    position: absolute;
    bottom: 0;
    margin: 4vh;
}

.btTools{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid;
    font-size: var(--font-xxsmall);
    cursor: pointer;
}

.btTools:hover{
    background-color: var(--color-secondary);
    color: var(--color-main)
}

/* Media Queries */
@media (max-width: 576px) and (orientation: portrait) {
    .ctContentAbout{
        width: 90%;
    }
    .txtTitle{
        font-size: var(--font-xsmall);
    }
    .txtParagraph, .btTools{
        font-size: var(--font-xxxsmall);
    }
    .txtMain{
        color: var(--color-main);
    }
}

@media (max-height: 576px) {
    .txtTitle{
        font-size: var(--font-xsmall);
    }
    .txtParagraph{
        font-size: var(--font-xxxsmall);
    }
    .btTools{
        font-size: var(--font-xxxsmall);
    }
}


@media (max-width: 992px) and (orientation: landscape) {
    .ctAboutme{
        height: auto;
    }

    .ctContentAbout{
        width: 90%;
    }

    .txtMain{
        color: var(--color-main);
        position: static;
    }
}

/* Fade in effect */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}